__pycache__/
*.py[cod]

build/
dist/
*.spec

hd2_patch_fixer/build/
hd2_patch_fixer/dist/
hd2_patch_fixer/build_compressed_mods/
hd2_patch_fixer/dist_compressed_mods/
hd2_patch_fixer/smoke_*/

patch/
patch fix test/
manifest/
sdk/

.pytest_cache/
.mypy_cache/
